.App {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pk-to-address-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pk-to-address-field-container {
  display: flex;
  gap: 5px;
}

.load-transaction-button {
}

.transaction-table-wrapper {
  margin-top: 10px;
  height: 300px;
  overflow-y: scroll;
}

table {
  width: 500px;
}
thead {
  width: 100%;
}
tr {
  /* width: 100px; */
  /* white-space: pre-line;
  word-break: break-all; */
}
td {
  width: 150px;
  white-space: pre-line;
  word-break: break-all;
}
